/**
* resume title
*/
Title()
  background #2a8795
  width px(500)
  padding px(5) px(50)
  margin-left: - px(30)
  position relative
  color #fff
  @media (max-width px(900))
    width auto
  &::after
    content ''
    position absolute
    width 0
    height 0
    border-right px(30) solid #235f62
    border-bottom px(15) solid transparent
    left 0; bottom - px(15)

