article
  h2 {{ page.title }}
  p recent pages3
  ul
    |{% for post in site.posts %}
    li 
      |{{ post.date | date_to_string }} 
      a( href="{{ site.baseurl }}{{ post.url }}" ) {{ post.title }}
    |{% endfor %}