extends ./layout/resume-layout.pug
include ./mixins/util.pug


block title
  title= locals.title

block info
  +myInfo(locals.info)

block personal
  +session(locals.section_name.personal,'personal',locals.personal)
  
block experience
  +session(locals.section_name.experience,'experience',locals.experience)
  
block projects
  +session(locals.section_name.projects,'projects',locals.projects)
  
block education
  +session(locals.section_name.education,'education',locals.education)
  
block footer
  p.footer This resume is generated with Gulp, Webpack, Stylus and Jade by 
    a(href="https://github.com/dxcqcv/resume") Roy Shang's resume generator.

block IEcondition
    <!--[if lte IE 8]>
    .lte-ie8-comment-wrapper
      p.lte-ie8-comment #{locals.lt_ie8_comment}
    <![endif]-->