//- base
@import 'includes/base/reset'
@import 'includes/base/variables'
@import 'includes/base/mixins'
@import 'includes/base/global'
@import 'includes/base/layout'

//- icon
@import 'includes/font-awesome.css'

//- resume
@import 'includes/resume_mixins'
@import 'components/experience'
@import 'components/info'
@import 'components/projects'
@import 'components/education'
@import 'components/personal'

