


html, body
  height  100%
  box-sizing  border-box
  font-family Helvetica, Arial, sans-serif
  
*, * before, * after
  box-sizing  inherit 

img 
  max-width  100%
  height  auto

main, aside, session
  height  100%
  @media (max-width: px(770))
    height auto

a
  text-decoration none
  &:link
  &:visited
    color $highlight_color
  &:hover
  &:focus
    color $highlight_hover

