
.container, main
  height 100%

aside, article
  display table
  height inherit

body
  background grey
  color blue

$a4_size = 1110
$aside_size = $a4_size * $golden_minor

.container
  max-width px($a4_size)
  margin 0 auto
  position relative
  @media (max-width: $response-phone)
    margin px(20) px(40)


aside
  background #7d858c
  position fixed
  width px($aside_size)
  @extends $cf
  @media (max-width: $response-phone)
    position relative
    width 100%
    min-width px(249)
    height auto
    min-height: auto
    padding 0 px(20) 
  
  
article
  background #e2e7e5
  margin-left px($aside_size)
  padding px(1) 0 px(50) 
  @media (max-width: $response-phone)
    margin-left px(0)
    width 100%

.footer
  padding px(15) 0
  color #000
  display none
  @media (max-width: $response-phone)
    display block
    
