html, body,.container,main,aside, article
  height 100%

body
  background grey
  color blue

.container
  Row(px(1110))

aside
  background #7d858c
  Cols($golden_minor,1)  
  
article
  background #e2e7e5
  Cols($golden_major,1)  