//
// Grid mixins
//
$default-width = px(1200)
$default-colspan = 1
$default-total_cols = 4

Row( width=$default-width )
  max-width  width
  width  100%
  margin  0 auto
  // clear at the end of container
  &:before,
  &:after
    content  ''
    display  table
  &:after
    clear  both


Cols( colspan = $default-colspan, total_cols = $default-total_cols )    
  width  ( colspan * ( 100 / total_cols ) ) % 
  float  left
