//
// Variables for em / rem use
//
$base_font_size = 16
$toRems = (  1 / $base_font_size ) rem
$toEms = (  1 / $base_font_size ) em


//
// Grid mixins
//
$default-width = 1200 * $toRems
$default-colspan = 1
$default-total_cols = 4

Row( width=$default-width )
  max-width: width
  width: 100%
  margin: 0 auto
  // clear at the end of container
  &:before,
  &:after
    content: ''
    display: table
  &:after
    clear: both


Cols( colspan = $default-colspan, total_cols = $default-total_cols )    
  width: ( colspan * ( 100 / total_cols ) ) % 
  float: left

main
  Row()
  background-color: #ccc
  min-height: 200 * $toRems

article
  Cols( 1 )
  min-height: 500 * $toRems
  background: #ddd

aside
  Cols( 3 )
  min-height: 500 * $toRems
  background: #eee

.lead
  color: red