$content_color = #6e6f6d

.session_title
  Title()

.detail
  & > li
    padding 0 unit(1,rem) 

.detail-title
  color #00a5ca

.detail-list
  & > dt
    padding-bottom unit($golden_major, rem)
    color #000
  & > dd
    padding unit($golden_minor, rem) 0
    color $content_color
    