
address
  @media (max-width: $response-phone)
    vertical-align()
  @media (max-width: $response-min)
    position static
    transform translateY(0)
    padding-bottom px(20)

 $info-color=#b0cbe9
.info
  vertical-align()
  right px(80)
  @media (max-width: $response-phone)
    position static;  transform translateY(0)
  
.lang-panel
  text-align right
  & > a
    color black 
    display inline-block
    padding px(10) px(20)

.selected
  border-bottom 1px solid aliceblue

.my-title
  @media (max-width: $response-phone)
    float right
    text-align right
  @media (max-width: $response-min)
    float none 
    text-align left

.name
  color #5cbcd8

.title,
.contact a,
.contact i
  color $info-color 
  
.contact a:hover
  color $highlight_hover

.contact i
  width px(10)
  margin-right px(15)

.qrcode-img
  width px(130); height px(130)
  margin-left: - px(10)
  @media (max-width: $response-phone)
    display none
