vertical-align()
  position absolute
  top 50%
  transform perspective(1px) translateY(-50%)

address
  @media (max-width: $response-phone)
    vertical-align()

.info
  vertical-align()
  right px(80)
  @media (max-width: $response-phone)
    position static; top auto; right auto; transform translateY(0)
  
.my-title
  @media (max-width: $response-phone)
    float right
    text-align right

.name
  color #5cbcd8

.title,
.contact a,
.contact i
  color #b0cbe9
  
.contact a:hover
  color $highlight_hover

.contact i
  width px(10)
  margin-right px(15)

.qrcode-img
  width px(130); height px(130)
  margin-left: - px(10)
  @media (max-width: $response-phone)
    display none
